@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    margin: 52px 127px 0 135px;
    padding-bottom: 50px;
}

nav ul {
    display: flex;
    gap: 44px;

}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    gap: 16px;
}

.tour {
    color: #FF5400;
}

.home {
    color: #FF5400;
    font-weight: 700;
}

.bar {
    display: none;
}


.banner {
    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    margin-left: 135px;
    margin-right: 135px padding-bottom: 100px;
}

.banner-title {
    padding: 106px 287px 0 287px;
    font-size: 64px;
    font-weight: 800;
}

.banner p {
    padding-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    color: rgba(19, 19, 24, 0.50);
}

.banner-input input,
select {
    width: 174px;
    height: 52px;
    border-radius: 8px;

}

.input-text {
    font-size: 16px;
    font-weight: 400;
}

#find {
    color: #FFF;
    background-color: #FF5400;
    font-weight: 700;
    text-align: center;
}


/* popular section style  */

.popular {
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
}

.popular-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.popular-details {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-details-end {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 32px;
}

.popular-writings {
    padding-top: 100px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 35px;
}

.popular-img {
    padding-top: 100px;
    padding-left: 60px;
}

/* destination style part */

.destination {
    text-align: center;
    margin: auto 135px;
    padding-bottom: 100px;
}

.images {
    gap: 24px;
}

.images-r1 {
    grid-template-columns: repeat(2, 1fr);
}

.images-r2 {
    grid-template-columns: repeat(3, 1fr);
}

.images-r3 {
    grid-template-columns: repeat(2, 1fr);
}

.destination .popular-details {
    padding-bottom: 48px;
}

.destination .popular-title {
    padding-top: 20px;
}


/* service style part */

.reason {
    padding: 24px;
    margin: 0 135px;
    text-align: center;
}

.reason .popular-details {
    padding-bottom: 48px;
}

.service {
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-bottom: 24px;
}

.service1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.service3 {
    margin-left: 433px;
    margin-right: 433px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    align-items: center;
}

.service1,
.service2,
.service3 {
    text-align: left;
    padding: 32px 55px 32px 32px;
}

.reason h3 {
    font-size: 24px;
    font-weight: 800;
}

/* newsletter style part  */

.newsletter {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;

}

.n-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.n-details {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

form input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
}

.line1 {
    width: 393px;
    height: 1px;
}

.btn-secondary {
    border-radius: 8px;
    background: #FF5400;
    font-size: 20px;
    font-weight: 800;
    color: #FFF;
}

.last-section {
    display: flex;
    margin: 0 135px;
    gap: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mountain {
    border-radius: 16px;
}

.discount {
    background-image: url("/Images/Rectangle\ 8\ \(1\).png");
    width: 672px;
    height: 422px;
    border-radius: 16px;
    position: relative;
}

.discount-title {
    width: 324px;
    height: 120px;
    position: absolute;
    bottom: 50px;
    right: 16px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    padding-bottom: 20px;
}

.discount-title p {
    font-size: 24px;
    font-weight: 400;
}

.discount-title h3 {
    font-size: 32px;
    font-weight: 800;
}













/*  Responsive style part   */

@media screen and (max-width:600px) {
    nav ul {
        display: none;
    }

    nav {
        text-align: left;
        display: flex;
        margin-left: 20px;
        margin-right: 0px;
    }

    .bar {
        display: flex;
        margin-right: 20px;
    }

    .banner {
        width: 335px;
        height: 483px;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        background-position: center;
    }

    .banner-title {
        font-size: 22px;
        padding: 32px 64px 8px 66px;
    }

    .banner p {
        font-size: 14px;
        line-height: 21px;
        padding: 0 16px 0 16px;
    }

    .banner-input {
        gap: 16px;
        flex-direction: column;
        padding: 16px;
        align-items: center;
    }

    .input-text {
        width: 255px;
        height: 52px;
    }

    .banner-input input {
        width: 255px;
        height: 52px;
    }

    .popular {
        display: grid;
        margin-left: 20px;
        margin-right: 20px;
    }

    .popular--writings {
        padding-top: 24px;
    }

    .popular-img {
        padding-top: 24px;
        width: 335px;
        height: 342px;
        padding-left: 20px;
        display: flex;
    }

    .popular-details-end {
        padding-bottom: 24px;
    }

    .destination {
        padding-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .popular-title {
        font-size: 20px;
    }

    .destination .images img {
        width: 335px;
        height: 176px;
    }

    .reason {
        padding: 0px;
        margin: 0 0px
    }

    .service {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .service1 {
        width: 335px;
        height: 289px;
    }

    .service2 {
        width: 335px;
        height: 289px;
    }

    .service3 {
        width: 335px;
        height: 289px;
        margin-left: 0;
        margin-right: 0px;
    }

    .reason h3 {
        font-size: 20px;
    }

    .last-section {
        display: grid;
        margin-left: 0px;
        margin-right: 0px;
    }

    .discount {
        width: 335px;
        height: 300px;
    }

    .discount-title {
        width: 214.023px;
        height: 79.268px;
    }

    .newsletter {
        width: 335px;
        height: 353px;
    }
    form input {
        width: 288px;
    }
    .discount-title h3{
        font-size: 20px;
    }
    .discount-title p{
        font-size: 15px;
    }







}